{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
<head>
    <title>A site for Deng Xiaojing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'dxj_favicon.ico' %}">
</head>
<body>
{% render_table objectives %}
</body>
</html>