<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<table class="table table-hover table-bordered" style="width:60% !important" border="1">
    <tbody>
    <tr>
        <td colspan="6" align="right">编号：{{ objective.department }}部门{{ objective.code }}</td>
    </tr>
    <tr>
        <th colspan="6" align="center">{{ objective.department }}部门{{ objective.time_description }}OKR实施表格</th>
    </tr>
    <tr>
        <td>部门</td>
        <td colspan="5" align="center">{{ objective.department }}</td>
    </tr>
    <tr>
        <td>目标（Objective）</td>
        <td colspan="5" align="center">{{ objective.objective }}</td>
    </tr>
    <tr>
        <td>关键结果（Key result）</td>
        <td colspan="5" align="center">{{ objective.key_result }}</td>
    </tr>
    <tr>
        <td>
            行动计划（Action）
        </td>
        <td>
            行动内容
        </td>
        <td>
            完成时间
        </td>
        <td>
            本部门责任人
        </td>
        <td>
            相关部门责任人
        </td>
        <td>
            状态
        </td>
    </tr>
    {# 以下tr为动态加载 #}
    {% for a in actions %}
        <tr>
            <td>
                A{{ forloop.counter }}
            </td>
            <td>
                {{ a.content }}
            </td>
            <td>
                {{ a.complete_date }}
            </td>
            <td>
                {{ a.local_leader }}
            </td>
            <td>
                {{ a.correlative_leader }}
            </td>
            <td class="
                {% if a.status == 1 %}
                p-3 mb-2 bg-warning
                {% elif a.status %}
p-3 mb-2 bg-success
                {% else %}
                p-3 mb-2 bg-danger
{% endif %}">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/">Go Back</a>